@import '../../assets/stylesheets/variables.scss';

.title {
  font-family: $body;
  color: $font;
  font-size: 20px;
  margin: 20px;
  width: 100%;
}

.subtitle {
  font-family: $body;
  color: $font;
  font-size: 20px;
  margin: 20px;
}

.result {
  font-weight: bolder;
}

.question, .titleResult {
  font-family: $title;
  color: $font;
  font-size: 35px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 25px;
  }
}

.body {
  font-family: $body;
  font-weight: lighter;
  font-size: 20px;
  color: $font;
  text-align: justify;
}

.button {
  font-family: $body;
  font-weight: bolder;
  border-radius: 10px 0px 10px 10px !important;
  border: none;
  background: $primary;
  color: white;
  width: 120px;
  height: 54px;
  margin: 20px;
  @media (max-width: 430px) {
    width: -webkit-fill-available;
  }
}

.buttonGhost {
  border: 2px solid $primary;
  background: none;
  color: $primary;
}

.buttonResult {
  font-family: $body;
  font-weight: bolder;
  border-radius: 10px 0px 10px 10px !important;
  border: 2px solid $primary;
  background: none;
  color: $primary;
  width: 150px;
  height: 54px;
  margin: 20px;
  @media (max-width: 430px) {
    width: -webkit-fill-available;
  }
}

.img {
  width: inherit;
  pointer-events: none;
}

.form {
  border-radius: 10px;
  height: fit-content;
  margin: auto;
  box-shadow: $shadow;
}

.containerInput {
  padding: 0 10px;
}

.input,
.select,
option {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  height: 54px;
  box-shadow: $shadow;
  font-family: $body !important;
  font-size: 15px !important;
  padding-left: 21px;
  outline: none;
  border: none;
}

.select {
  width: 200px;
}

.label {
  font-family: $body;
  font-size: 18px;
  color: #9b9b9b;
  margin-bottom: 5px;
}

.check:checked {
  background-color: $primary !important;
  border-color: $secundary !important;
}

.check:focus {
  border-color: white !important;
  box-shadow: none !important;
}
