@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
// Colors
$primary: #bfd732;
$secundary: #bed732a4;
$font: #4A4A4A;
$disabled: #929292;

// Fonts
$title: 'Roboto Condensed', sans-serif;
$body: 'Roboto', sans-serif;

// Shadows
$shadow: 0 0 6px -3px;
