@import '../../assets/stylesheets/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.logo {
  pointer-events: none;
}

.nogrow {
  flex-grow: 0;
}

.label {
  font-family: $body;
  font-size: 18px;
  color: #9b9b9b;
  position: relative;
  top: 11px;
  padding-right: 35px;
}

.message {
  font-family: $body;
  font-size: 18px;
  color: #9b9b9b;
  position: relative;
  cursor: pointer;
}

.button {
  color: $primary;
  border: 2px solid $primary;
  width: 180px;
  height: 50px;
  transition-duration: 0.4s;
  background: white;
  border-radius: 5px;
}

.button:hover {
  background-color: $primary;
  color: white;
}

// Styles options user
.dropdown {
  display: flex;
}

.user {
  color: black !important;
  background-color: white !important;
  border-color: white !important;
}

.user:focus {
  box-shadow: none !important;
}

.dropdown:hover {
  color: black;
  text-decoration: none;
  background-color: #e9ecef !important;
}

.dropdown::before {
  content: url(../../assets/images/options.svg);
  padding-right: 10px;
}
