@import '../../assets/stylesheets/variables.scss';

.container {
  width: 80% !important;
}

.row {
  height: 80vh !important;
}

.title {
  font-family: $title;
  color: $font;
  font-size: 40px;
  margin-bottom: 35px;
  width: 100%;
  @media (max-width: 600px) {
    font-size: 25px;
  }
}

.body {
  font-family: $body;
  font-weight: lighter;
  font-size: 20px;
  color: $font;
  text-align: justify;
  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.btnContainer {
  width: fit-content;
}

.button {
  font-family: $body;
  font-weight: bold;
  border-radius: 10px 0px 10px 10px !important;
  border: none;
  background: $primary;
  width: 215px;
  height: 54px;
  margin-top: 35px;
  color: white;
  @media (max-width: 600px) {
    width: 150px;
    height: 42px;
    font-size: 15px;
  }
}

.button::after {
  content: url(../../assets/images/content-button.svg);
  padding-left: 7px;
}

.img {
  width: inherit;
  pointer-events: none;
}

::selection {
  color: white;
  background: $secundary;
}
