@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import '../src/assets/stylesheets/colors.scss';

.title{
  font-family: 'Open Sans', sans-serif;
  color: $font;
  font-size: 40px;
}